@import url('./reset.css');

.site-container{
     position:fixed;
     padding:0;
     margin:0;

     top:0;
     left:0;

     width: 100%;
     height: 100%;
     background: #FFF8F0;
     /* font-family: 'Life Savers', cursive; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.app-container{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 12px;
    padding: 25px;
    background-color: #F4D06F;
}

/* Section One */
.company-basic-info{
    display: flex;
    border-bottom: black solid 3px;
    align-items: center;
    justify-content: center;
}
/* TICKER INPUT FIELD  */
.ticker-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-right: black solid 3px;
    align-items: center;
}

.ticker-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    background: #9DD9D2;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    height: 22px;
    width: 157px;
    color: #4D3F78;
}
/* CURRENT PRICE OUTPUT  */
.current-price-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-price-output{
    width: 153px;
    height: 21px;
    text-align: center;
    font-size: large;
    font-weight: 700;
    padding: 2px;
    background: #9DD9D2;
    border-radius: 10px;
    color: #4D3F78;
}
/* Section Two */
/* SOCIAL SENTIMENT  */
.social-sentiment-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom: black solid 3px;
}
/* CHART  */
/* Section Three */
.wall-street-sentiment-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}
/* ANALYST RECOMMENDATION BREAKDOWN  */
.analyst-recommendations{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

.ratings-container{
    display: flex;
    padding: 10px;
}

.ratings-container > div {
    padding: 5px;
    width: 100%;
    justify-content: center;
    border-bottom: black solid 3px;
}

.hold-rating{
    border-left: black solid 2px;
    border-right: black solid 2px;

}
/* PRICE TARGET BREAKDOWN  */
.price-targets{
    padding: 5px;
}
/* FINANCIAL DATA  */
.meaningful-financial-data{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

.financial-data-container{
    display: flex;
}

.financial-data-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.financial-data-container > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* A,B,C  */
.column-1{
    padding: 5px;
}

/* D,E,F  */
.column-2{
    padding: 5px;
}

/* G,H,I  */
.column-3{
    padding: 5px;
}


/* Section Five */
/* NEXT EARNINGS DATE */
.earnings-data{
    padding: 5px;
}

