@import url('./reset.css');

.site-container{
     position:fixed;
     padding:0;
     margin:0;

     top:0;
     left:0;

     width: 100%;
     height: 100%;
     /* background: #FFF8F0; */
    background-color: #FFFAF1;
    font-family: 'Bebas Neue',
    cursive;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
     /* color: #CC313D; */
    color: #29293a;
}

.misc-info-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}
.info-guide-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    border: 3px solid black;
    /* text-align: center; */
    margin: 15px;
    padding: 10px;
    border-radius: 12px;
}

.info-header{
    font-size: x-large;
}

.app-container{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 12px;
    border-style: ridge;
    /* padding: 5px; */
    /* background-color: #F7C5CC; */
    background-color: white;

    /* box shadows */
    -moz-box-shadow: inset 0 2 10px white;
    -webkit-box-shadow: inset 0 0 10px white;
    box-shadow: inset 0 0 10px white;
}

/* Section One */
.company-basic-info{
    display: flex;
    border-bottom: black solid 3px;
    align-items: center;
    justify-content: center;
}

.company-basic-info > div {
    font-size: xx-large;
}
/* TICKER INPUT FIELD  */
.ticker-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-right: black solid 3px;
    align-items: center;
}

.ticker-input{
    width: 153px;
    height: 21px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    /* color: white; */
    color: #29293a;
    font-family: 'Roboto Condensed',
    sans-serif;
    border-style: none;
    background-color: #FFFAF1;
}
/* CURRENT PRICE OUTPUT  */
.current-price-container{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-name{
    width: 250px;
    height: fit-content;
    text-align: center;
}

p {
    width: 153px;
    height: 21px;
    text-align: center;
    font-size:x-large;
    font-weight: 700;
    padding: 2px;
    background: #4e3b42;
    border-radius: 10px;
    color: white;
    margin: 5px;
    font-family: 'Roboto Condensed',
    sans-serif;
}

h3 {
    font-family: 'Roboto Condensed',
    sans-serif;
    
}
h2 {
    font-family: 'Lato',
    sans-serif;
}
h4{
    color: #2B4E6B;
    font-family: 'Roboto Condensed',
    sans-serif;
    font-size: small;
}
h5{
    color: #2B4E6B;
    font-family: 'Roboto Condensed',
    sans-serif;
    font-size: medium;
}

div {
    font-family: 'Bebas Neue',
    cursive;
    
}
/* Section Two */
.charts{
    display: flex;
}
/* SOCIAL SENTIMENT  */
.social-sentiment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom: black solid 3px;
    font-size: xx-large;
}
/* CHART  */
/* Section Three */
.wall-street-sentiment-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 100%;
    border-bottom: black solid 3px;
}
/* ANALYST RECOMMENDATION BREAKDOWN  */
.analyst-recommendations{
     padding: 5px;
     font-size: xx-large;
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 100%;
     flex-direction: column;
     
     text-align: center;
     height: 190px;
}

.ratings-container{
    display: flex;
    padding: 10px;
    font-size:x-large;
}

.ratings-container > div {
    padding: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-rating{
    color: #21CE99;
    /* color: white; */
    border-radius: 8px;
}

.hold-rating{
    /* border-left: black solid 2px;
    border-right: black solid 2px; */
    color: #7B8E95;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.sell-rating{
    color: #9A0002;
    /* color: white; */
    border-radius: 8px;
}

.total-ratings{
    font-size: x-large;
}


/* PRICE TARGET BREAKDOWN  */
.price-targets{
    padding: 5px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: inherit;
}

.price-targets > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.price-targets > div > h2 {
    font-family: 'Roboto Condensed',
    sans-serif;
}
/* FINANCIAL DATA  */
.meaningful-financial-data{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    font-size: xx-large;
}

.financial-data-container{
    display: flex;
    margin: 5px;
}

.financial-data-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:large;
}

.financial-data-container>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    font-size: large;
}

.column-title{
    margin: 5px;
}

.links{
    display: flex;
    padding: 10px;
    height: 100%;
    justify-content: flex-end;
}
img {
    height: 50px;
    padding: 10px;
}

.about-me-container{
    display: flex;
    /* justify-content: flex-end; */
}